.hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
    padding: 0 1rem;
    background-color: #1C1C1E; /* fundo antracite */
}

/* Layout de duas colunas para telas médias e maiores */
@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero-text {
    flex: 1;
    color: #F5F5F5; /* texto claro suave */
}

.hero-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #08FDD8; /* destaque neon para o título */
}

.hero-text p {
    color: #C9D1D9; /* texto secundário suave */
    margin-bottom: 1.5rem;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}
