.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2A2A2E; /* borda mais sutil */
    background-color: #1C1C1E; /* cinza antracite */
    color: #F5F5F5;
    position: relative;
}

.navbar-left {
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white; /* destaque neon */
}

.navbar-center {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar-center a {
    text-decoration: none;
    color: #F5F5F5;
    transition: color 0.2s;
}

.navbar-center a:hover {
    color: #08FDD8; /* verde-água neon */
}

.navbar-right {
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.navbar-right a {
    color: #F5F5F5;
    transition: color 0.2s;
}

.navbar-right a:hover {
    color: #08FDD8;
}
